.Rproj.user
.Rhistory
.RData
.Ruserdata

.quarto/
_site/

manuscript/data/raw/Clostridioides difficile pathogen database (2025-10-28).csv
manuscript/data/raw/Clostridioides difficile pathogen database (2025-10-28).csv.gz
